<div class="layout-navigation">
  <div class="navigation-header">
    <ul class="navigation-lnb">
      <li class="navigation-lnb__item">
        <i class="icon sprite-icon sprite-icon-user"></i>
        <span class="text">로그인</span>
      </li>
      <li class="navigation-lnb__item">
        <span class="text">회원가입</span>
      </li>
    </ul>
    <button type="button" class="button navigation-close">
      <i class="icon sprite-icon sprite-icon-close-01">
        <span class="hidden-element">메뉴닫기</span>
      </i>
    </button>
  </div>
  <div class="navigation-conetents">
    <ul class="navigation-menu">
      <li class="navigation-menu__item has-sub">
        <a href="#none" data-go-to="@@webRoot/list.html">Men</a>
      </li>
      <li class="navigation-menu__item has-sub">
        <a href="#">Women</a>
      </li>
      <li class="navigation-menu__item has-sub">
        <a href="#">Kids</a>
      </li>
      <li class="navigation-menu__item has-sub">
        <a href="#">Shoes</a>
      </li>
      <li class="navigation-menu__item has-sub">
        <a href="#">Acc</a>
      </li>
      <li class="navigation-menu__item has-sub">
        <a href="#">Outlet</a>
      </li>
      <li class="navigation-menu__item">
        <a href="#">Promotion</a>
      </li>
      <li class="navigation-menu__item">
        <a href="#">Style in SNS</a>
      </li>
      <li class="navigation-menu__item has-sub">
        <a href="#">Discoverer</a>
      </li>
    </ul>

    <div class="navigation-banner">
      <img src="@@webRoot/assets/images/navi-banner.jpg" alt="" class="image-block">
    </div>
  </div>
 
</div>