.swiper-button-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 10;
    transition: opacity 0.4s;

    &.swiper-button-disabled {
        z-index: -1;
        opacity: 0;
    }
}
.swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 10;
    transition: opacity 0.4s;

    &.swiper-button-disabled {
        z-index: -1;
        opacity: 0;
    }

}
.swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: green;
    z-index: 10;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
.swiper-pagination-bullet {
    // float: left;
    cursor: pointer;
    display: inline-block;
    width: 20%;
    height: 100%;
    background: orange;
}
.swiper-pagination-bullet-active {
    background: rgb(81, 151, 184);
}
.nest-container {
    background: #d9bca4;

    .swiper-pagination {
        width: 20%;
        bottom: 50px;
        z-index: 20;
    }
}

.module {
  position: relative;
}
.module-inner {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.module-main--visual {

    .swiper-button-prev {
        background: url("../images/main/pc/module01/visual_arrow_left.png") no-repeat 50% 50%;
    }
    .swiper-button-next {
        background: url("../images/main/pc/module01/visual_arrow_right.png") no-repeat 50% 50%;
    }
    
    .swiper-info {
        position: absolute;
        top: 150px;
        left: 114px;

        &.reverse {
            .t01,
            .t02-top,
            .t02-bot,
            .t03 {
                color: #fff;
            }
            .module-more {
                border-color: #fff;
            }
            .more {
                color: #fff;
            }

        }

        .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        }
    }
    .t01 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
        opacity: 0.8;
        -webkit-line-clamp: 1;
    }
    .t02 {   
        .t02-top {
            max-width: 490px;
            line-height: 62px;
            font-size: 53px;
            color: #523830;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        .t02-bot {
            max-width: 490px;
            line-height: 62px;
            color: #523830;
            font-size: 53px;
            font-weight: 900;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    .t03 {
        letter-spacing: -0.2px;
        margin-top: 30px;
        margin-bottom: 40px;
        max-width: 260px;
        line-height: 22px;
        font-size: 15px;
        font-weight: 600;
        
    }
}

.module-more {
    width: 140px;
    margin: 0;
    
    &.lg {
        width: 220px;
        padding: 24px 0;
        margin: 80px auto;

        button {
            font-size: 18px;
        }
    }

    &.black {
        background: #000;
        button {
            color: #fff;
        }
    }
    &.border {
        background: transparent;
        border: 1px solid #000;
        color: #000;
        padding: 18px 0;
    }
    &.img {
        width: inherit;
        width: 50px;
        height: 50px;
        background-image: url("../images/main/pc/module02/module_02_sticker.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        margin: 70px auto;
    }

    .more {
        width: 100%;
        background: transparent;
        font-size: 15px;
    }
}

.module-title {
    padding-top: 80px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: -0.1px;
    text-transform: uppercase;
    background: #fff;

    &.with-border {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 30px;
    }
}

.module--navigation {
    margin: 80px auto;
    padding: 0 269px;

 
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.navigation-list {
    float: left;
    font-size: 14px;

    &.is_active {
        background: #000;

        .module-link {
            color: #fff;
        }
    }
}

.module-container { 
    position: relative;
    border-top: 1px solid #000;
}

.module-container--item {
    margin-top: 70px;
}
.module-item--list:after {
    content: '';
    display: block;
    clear: both;
}

.module-item--item {
    float: left;
    margin-right: 12px;
    margin-bottom: 19px;
    max-width: 291px;
    width: 100%;

    .module-item--thumb {
        &.reverse {
            text-align: right;
        }
    }

    

    &:nth-child(4n) {
        margin-right: 0;
    }
    
}
.module-link {
    display: block;
    width: 100%;
}
.module-item--info {
    padding: 20px;

    &.modify-position {
        position: absolute;
        top: 144px;
        right: 0;
    }
    &.reverse {
        top: 50px;
        left: 0;

        .title,
        .inner-title,
        .inner-desc {
            text-align: right;
        }
    }
}

.module-info--title {
    .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.module-info--price {
    margin-top: 18px;
    font-weight: 600;

    >span:before {
        content: '₩';
        display: inline;
    }

    .original {
        margin-right: 10px;
        opacity: 0.6;
        text-decoration: line-through;
    }
}

.module-item--inner-info {
    padding-top: 64px;
    padding-left: 205px;
    max-width: 320px;

    .inner-title {
        
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        line-height: -0.2px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .inner-desc {
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

}

.module--01 {
    padding-top: 110px;
}

.module--02 {
    .module-item--info {
        max-width: 606px;
    }
    .module-item--item {
        position: relative;
        float: inherit;
        max-width: inherit;
        margin-right: inherit;
        margin-bottom: 140px;

        &.item02 {
            .module-item--inner-info {
                max-width: 250px;
            }
        }

        &.item03 {
            .modify-position {
                top: 80px;
                left: 450px;
            }
            .module-item--inner-info {
                padding-left: 140px;
            }

            .inner-title {
                max-width: 200px;
            }
            .inner-desc {
                max-width: 280px;
            }

        }
    }
    .title {
        font-size: 75px;
        line-height: 75px;
        font-weight: 900;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .visual_image {
        position: absolute;
        top: 341px;
        left: 858px;

        &.img01 {
            top: 610px;
            left: 40px;
        }
        &.img03 {
            top: 211px;
            left: 1054px;
        }
    }
}

.module-banner {
    margin : 60px 0;
    
}
.module-banner--container {
    position: relative;
    height: 350px;
    background-image: url("../images/main/pc/module03/module_03_bg_01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.module-banner--opacity-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 0;    
    width: 842px;
    text-align: center;
    background: #000;
    opacity: 0.9;
}

.module-banner--title {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}

.module-banner--desc {
    margin-top: 25px;
    font-size: 15px;
    color: #fff;
    letter-spacing: -0.2px;
}

.module--04 {

    .module-container {
        height: 780px;
        border: none;
        background-image: url("../images/main/pc/module04/module_04_bg_01.jpg");
        background-repeat: no-repeat;
    }
    
    .module-title {
        top: 80px;
        background: transparent;
        color: #fff;
    }
    .module-container--item {
        padding-top: 80px;
        margin-top: 0;
    }

    .module-item--list {
        margin: 0 auto;
        width: 980px;
    }
    .module-item--item {
        position: relative;
        max-width: inherit;
        width: 300px;
        margin-right: 40px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    .module-item--info {
        position: absolute;
        bottom: 0;
        padding: 0 30px 40px 30px;
    }
    .module-info--title {
        .title {
            display: block;
            font-size: 20px;
            text-decoration: underline;
        }
        .desc {
            display: block;
            font-size: 14px;
            margin-top: 14px;
            

        }
    }//module-info--title

    .module-more {
        margin: 60px auto 100px;
        background: #fff;
    }
   

    

}//module4

.module--05 {
    margin-top: 150px;

    .module-container {
        border: none;
    }
    .module-title {
        background: transparent;
        margin-bottom: 60px;
    }

    .module-top {
        background: #f5f5f5;
    }

    .swiper-slide:after {
        content: '';
        display: table;
        clear: both;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 72px;
        height: 72px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .swiper-button-prev {
        background: url("../images/main/pc/module05/module_05_arrow_leftjpg.jpg");
    }
    .swiper-button-next {
        background: url("../images/main/pc/module05/module_05_arrow_right.jpg");
    }

    .module-thumb {
        float: left;
    }
    .module-info {
        padding-top: 170px;
        float: left;
        width: 50%;
        // height: 310px;
        // background: coral;
        text-align: center;
    }

    .module-info--container {
        margin: 0 auto;
        width: 310px;
    }

    .module-info--title {
        
        font-weight: 600;
        letter-spacing: -2px;

        &.t01 {
            font-size: 15px;
        }
        &.t02 {
            font-weight: 900;
            font-size: 28px;
        }

        
    }
    .module-info--desc {
        position: relative;
        margin-top: 42px;
        font-size: 15px;
        opacity: 0.8;
        line-height: 23px;
        letter-spacing: -2px;
        &:after {
            content: '';
            position: absolute;
            top: -21px;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            height: 2px;
            background: #000;
        }
    }
    .module-more {
        width: 200px;
        margin: 40px auto;
        .more {
            font-size: 15px;
        }
    }

    
    .module-link {
        padding: 10px 16px;
        // text-align: center;
        width: auto;
    }

    .product {
        border-bottom: 1px solid #f5f5f5;

        &:last-child {
            margin-top: 40px;
        }

        &:last-child {
            border: none ;
        }
        .module-item--item {
            max-width: inherit;
            width: 50%;
            margin-right: 0;
        }
    
        .module-link {
            padding: 0;
    
            &:after {
                content: '';
                display: table;
                clear: both;
            }
        }
        .module-item--thumb,
        .module-item--info {
            float: left;
        }
        .module-item--info {
            max-width: 240px;
            padding:   20px 0 0 10px;
        }
        .module-info--price {
            margin-top: 0;
        }
        .title {
            font-size: 18px;
        }
        .desc {
            font-size: 14px;
            opacity: 0.7;
            display: block;
            margin: 25px 0 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }//product

    
    
    
}
.count {

    .module-banner--container {
        height: 200px;
        background: rgba(000,000,000,0.85);
    }
    .banner--inner {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .banner--left{
        padding-left: 80px;
        float: left;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }
    .banner--right {
        padding-right: 80px;
        float: right;
    }

    .module-banner--title,
    .module-banner--desc {
        float: left;
        margin: 0;
    }
    .module-banner--desc {
        line-height: 30px;
        margin-left: 30px;
    }

}

.module--06 {
    // height: 500px;

    .module--navigation {
        padding: 0;
        margin-top: 90px;
    }
    .navigation-list {
        text-align: center;
        width: 170px;
        border-right: 1px dashed #000;
        // box-sizing: border-box;

        &:last-child {
            border: none;
        }
    }

    .module-link {
        padding: 20px 0;
    }
    .module-item--title {
        margin-top: 24px;
    }
}

.module--07 {
    // height: 500px;


    .module--navigation {
        width: 423px;
        padding: 0;
    }
    .module-link {
        padding: 10px 16px;
        width: auto;
    }
    

    .grid-item {
        margin-bottom: 60px;
         width: 270px; 
        }

    .review-head {
        padding: 15px 0;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .head-title {
            float: left;
        }
        .head-state {
            padding-top: 15px;
            float: right;

        }
        .head-state-item {
            font-size: 13px;

            &.count {
                font-weight: 600;
                color: #ff0000;
            }
        }

        .head-title:after {
            content: '';
            display: table;
            clear: both;
        }

        .head-img {
            margin-right: 10px;
            float: left;
            display: block;
            width: 40px;
            height: 40px;
        }

        .head-txt {
            opacity: 0.5;
            max-width: 105px;
            float: left;
            display: block;
            margin-top: 10px;;
            
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
    
    .module-item--review {
        // background: pink;
    }

    .review-head--title {
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.4px;
        padding: 20px 0;
        border-top: 1px solid #b2b2b2;
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .review-comment {

    }
    .comment-top {
        position: relative;
        margin: 15px 0;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        span {
            display: block;
            float: left;
        }
    }

    .comment-thumb {
        // display: block;
    }
    .comment-id {
        margin-left: 10px;
        // display: block;
    }

    .comment-txt {
        overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
    }

}