<div class="layout-footer">
  <div class="footer-util">
    <div class="unit-inner">
      <span class="footer-button footer-button--app-download">
        APP DOWNLOAD
        <i class="icon sprite-icon sprite-icon-download"></i>
      </span>
  
      <ul class="footer-sns">
        <li class="footer-sns__item">
          <i class="icon sprite-icon sprite-icon-sns-facebook"></i>
        </li>
        <li class="footer-sns__item">
          <i class="icon sprite-icon sprite-icon-sns-insta"></i>
        </li>
        <li class="footer-sns__item">
          <i class="icon sprite-icon sprite-icon-sns-blog"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-info">
    <div class="unit-inner">
      <ul class="footer-menu footer-menu--01">
        <li class="footer-menu__item">
          About Discovery
        </li>
        <li class="footer-menu__item">
          I am a Discovery
        </li>
      </ul>
  
      <ul class="footer-menu footer-menu--02">
        <li class="footer-menu__item">
          공지사항
        </li>
        <li class="footer-menu__item">
          고객센터
        </li>
        <li class="footer-menu__item">
          매장안내
        </li>
      </ul>
  
      <ul class="footer-menu footer-menu--03">
        <li class="footer-menu__item">
          이용약관
        </li>
        <li class="footer-menu__item">
          개인정보처리방침
        </li>
        <li class="footer-menu__item">
          이메일 무단 수집거부
        </li>
      </ul>
  
      <div class="footer-address">
        <p class="footer-name">(주) 에프엔에프</p>
        <p class="footer-text">
          <span>서울특별시 강남구 언주로 541 에프엔에프 빌딩</span><br>
          <span>사업자 등록 번호 : 214-86-09977[사업자정보확인]</span><br>
          <span>통신판매업 신고번호 : 제2011-서울강남-00086호</span><br>
          <span>A/S : 02-3474-8914</span>
          <span style="margin-left: 20px">E-MAIL : discovery@fnf.co.kr</span>
        </p>
      </div>
    </div>  
  </div>
</div>