  <div class="layout-header">
    <h1 class="hide">
      1. HEADER SECTION.
    </h1>
    <div class="header-top">
      <ul class="layout-header__location">
        <h2 class="hide">LOCATION SECTION</h2>
        <li class="layout-header__item">
          <a href="" class="layout-header__link">
            beauty net
          </a>
        </li>
        <li class="layout-header__item is_active">
          <a href="" class="layout-header__link">
            missha
          </a>
        </li>
        <li class="layout-header__item">
          <a href="" class="layout-header__link">
            a'pieu
          </a>
        </li>
        <li class="layout-header__item">
          <a href="" class="layout-header__link">
            swisspure
          </a>
        </li>
        <li class="layout-header__item">
          <a href="" class="layout-header__link">
            eau de love
          </a>
        </li>
      </ul>
      <div class="layout-header__right-section">
        <ul class="layout-header__location right_side">
          <h2 class="hide">USER SECTION</h2>
          <li class="layout-header__item">
            <a href="" class="layout-header__link">
              login
            </a>
          </li>
          <li class="layout-header__item">
            <a href="" class="layout-header__link">
              join
            </a>
          </li>
          <li class="layout-header__item">
            <a href="" class="layout-header__link">
              cart
            </a>
          </li>
          <li class="layout-header__item">
            <a href="" class="layout-header__link">
              customer
            </a>
          </li>
          <li class="layout-header__item">
            <a href="" class="layout-header__link">
              order
            </a>
          </li>
        </ul>
        <ul class="layout-header__location right_side">
          <h2 class="hide">NOTIFICATION SECTION</h2>
          <li class="layout-header__item">
            <a href="" class="layout-header__link">
              <div class="layout-header__notification">
                <span class="layout-header__ico"><img src="@@webRoot/assets/images/header/pc_ico_msg.jpg" alt=""></span>
                <span class="layout-header__txt">쪽지</span>
                <span class="layout-header__count">0</span>
              </div>
            </a>
          </li>
          <li class="layout-header__item ">
            <a href="" class="layout-header__link">
              <div class="layout-header__notification">
                <span class="layout-header__ico"><img src="@@webRoot/assets/images/header/pc_ico_alert.jpg" alt=""></span>
                <span class="layout-header__txt">알림</span>
                <span class="layout-header__count">0</span>
              </div>
            </a>
          </li><li class="layout-header__item">
            <a href="" class="layout-header__link">
              <div class="layout-header__notification">
                <span class="layout-header__ico"><img src="@@webRoot/assets/images/header/pc_ico_coup.jpg" alt=""></span>
                <span class="layout-header__txt">쿠폰</span>
                <span class="layout-header__count">0</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--//header-top-->
    <div class="header-bot">
      <h2 class="hide">HEADER SUB SECTION</h2>
      <div class="header-inner">
        <div class="layout-header__section section01">
          <div class="layout-header__menu hamb">
            <a class="layout-header__link" href="">
              <img src="@@webRoot/assets/images/header/pc_ico_ham.jpg" alt="">
            </a>
          </div>
          
          <div class="layout-header__menu logo">
            <a class="layout-header__link" href="">
              <img src="@@webRoot/assets/images/header/pc_ico_logo.jpg" alt="">
            </a>
          </div>
          <div class="layout-header__menu search">
            <a class="layout-header__link" href="">
              <img src="@@webRoot/assets/images/header/pc_ico_search.jpg" alt="">
            </a>
          </div>
        </div>
        <div class="layout-header__section section02">
          <ul class="layout-header__location type2">
            <li class="layout-header__item">
              <a href="" class="layout-header__link">
                new
              </a>
            </li>
            <li class="layout-header__item is_active">
              <a href="" class="layout-header__link">
                skincare
              </a>
            </li>
            <li class="layout-header__item">
              <a href="" class="layout-header__link">
                make-up
              </a>
            </li>
            <li class="layout-header__item">
              <a href="" class="layout-header__link">
                men
              </a>
            </li>
            <li class="layout-header__item">
              <a href="" class="layout-header__link">
                suncare
              </a>
            </li>
            <li class="layout-header__item">
              <a href="" class="layout-header__link">
                clinic search
              </a>
            </li>
            <li class="layout-header__item">
              <a href="" class="layout-header__link">
                ranking
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>